html,
body {
  height: 100%;
}

.app {
  display: flex;
  height: 100vh;
}

.app-inner {
  display: flex;
  flex-direction: column;
}

.app-output {
  flex-grow: 1;
  overflow-y: scroll;
}

.output {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
  padding-bottom: 1.5rem;
}

blockquote {
  margin: 0;

  p {
    margin: 0;
    padding: 1rem;
    background: lightgrey;
    border-radius: 0.5rem;
    color: black;
  }

  cite {
    display: block;
    font-size: 0.7rem;
  }

  &.is-me {
    align-self: flex-end;

    p {
      background: cornflowerblue;
      color: white;
    }

    cite {
      text-align: right;
    }
  }
}
